.dashboard{
    background: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.dashboard .file-image-dash{
    display: none;
}
.hr-line-under-dashboard {
    content:" ";
    border-bottom: 1px solid #e5e5e5;
    display: block;
    margin-bottom: 10px;
}
.dashboard-filters {
    margin-bottom: 15px;
}

.dashboard .form-control {
    border-radius: 5px !important;
}

.form-row-child {
    width: 100%;
}


.dashboard .form-control {
    border-radius: 5px !important;
}

.smallhelp{
    color: #a50000;
}

.formshaba .input-group-text{
    border-radius: 3px 0px 0px 3px !important;
}

.dashboard-padding {
    padding: 25px 35px;
}

.top-of-shops {
    margin-bottom: 25px;
}


.add-new-inprofile{
    font-size: 15px;
    border: 2px solid #9d17b0;
    padding: 7px 15px;
    border-radius: 10px;
    background: #fff;
    float: left;
    font-weight: 400;
}